<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://isu.ifmo.ru/pls/apex/f?p=2437:99:107259912210285">Petr Soloviev</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">group P3211</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">ISU 311698</a>
        </li>
      </ul>
    </div>
    <a href="https://github.com/callmepedro">
      <img
        width="64"
        alt="Angular Logo"
        src="https://github.githubassets.com/images/modules/logos_page/Octocat.png"
      />
    </a>
  </div>
</nav>
